<div class="puppy">
  <img class="img-circle" src="/public/images/puppy1.jpg" alt="{{name}}">
  <h2>{{puppies.name}}</h2>
  <div>Breed: {{breed}}</div>
  <div>Owner: {{owner}}</div>
  <a href="/puppies/{{id}}/edit">Edit</a>
</div>


{{!-- {{puppies.imagePath}}" --}}